{% extends 'base.html' %}
{% load swing_tag %}

{% block title %}
    {{ table_obj.model_verbose_name }}
{% endblock %}

{% block breadcrumb %}
    <div id="breadcrumb">
        <a href="{% url 'swing' %}"><i class="icon-home"></i> 客户相关</a>
        <a href="{% url 'app_tables' app_name %}">{{ app_name|capfirst}}</a>
        <a>{{ table_obj.model_verbose_name }}</a>
    </div>
{% endblock %}

{% block container %}
    {% include "swing/object_list_table.html" %}
{% endblock %}

{% block js %}
    {% include 'swing/object_list_table_editable_js.html' %}
{% endblock %}