{% extends 'base.html' %}
{% load swing_tag %}

{% block title %}Swing{% endblock %}

{% block breadcrumb %}
<div id="content-header">
    <ol class="breadcrumb">
        <li class="active"><a href="{% url 'swing' %}" class="tip-bottom"><i class="icon-home"></i> 客户相关</a></li>
        <li class="active">{{ current_app }}</li>
    </ol>
</div>
{% endblock %}

{% block container %}
{% for app_name,admin_class_dic in enabled_admins.items %}
    <div class="span11">
    <div class="widget-box ">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-th"></i>
            </span>
            <h5>
                <a href="{% url 'app_tables' app_name %}">{{ app_name|upper }}</a>
            </h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped ">
                    {% for k,admin_class in admin_class_dic.items %}
                    <tr>
                        <td><a style="font-weight:bold ;color: #447e9b" href="{% url 'table_list' app_name k  %}">{% get_db_table_name admin_class %}</a></td>
                        {% if not admin_class.readonly_table %}
                            <td><a href="{% url 'table_add' app_name k  %}">增加</a></td>
                            <td><a href="{% url 'table_list' app_name k  %}">修改</a></td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}