<!DOCTYPE html>
<html lang="en">

<head>
        <title>New orleans - Entry</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="static/css/matrix-login.css" />
        <link rel="stylesheet" href="static/css/matrix-style.css" />
        <link rel="stylesheet" href="static/css/font-awesome.css" />
		<link rel='stylesheet' href='static/css/open_sans.css'>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2 offset5" style="margin-top: 200px">
            <ul class="quick-actions">
              <li class="bg_lb"> <a href="#"> <i class="icon-book"></i> 学员 </a> </li>
              <li class="bg_lg"> <a href="#"> <i class="icon-tasks"></i> 销售</a> </li>
              <li class="bg_ly"> <a href="#"> <i class="icon-bar-chart"></i> 讲师 </a> </li>
              <li class="bg_lo"> <a href="#"> <i class="icon-user"></i> 管理</a> </li>
            </ul>
          </div>
        </div>
            </div>
    </body>

</html>
